.App {
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.main {
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.todo-create {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
}

.todo-input {
    width: 100%;
    padding: 10px 0px;
    border: none;
    border-bottom: 1px solid gray;
    outline: none;
}

.todo-add-button {
    padding: 10px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    cursor: pointer;
    font-weight: bold;
}

.edit-icon {
    cursor: pointer;
    color: #007bff;
    margin-right: 10px;
    font-size: 20px;
    background-color: rgb(56, 56, 56);
    border: 2px solid rgb(56, 56, 56);
    border-radius: 20%;
}

.remove-icon {
    cursor: pointer;
    color: #ee0606;
    font-size: 20px;
    background-color: rgb(56, 56, 56);
    border: 2px solid rgb(56, 56, 56);
    border-radius: 20%;
}

.todo-list {
    width: 100%;
    margin-top: 80px;
}

.todo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding: 10px;
    border: 2px solid rgb(56, 56, 56);
    margin-top: 10px;
}